header {
    background-color: green;
    border-bottom: 2px solid lightgreen;
}

main {
    background-color: lightgreen;
    height: 100vh;
}

.calculator {
    background-color: lightgrey;
    border: 2px solid black;  
    padding: 10px 20px;
}

#result {
    width: 85%;
}

#clear {
    background-color: red;
    color: white;
    width: 42%;
}

#equals {
    background-color: blue;
    color: white;
    width: 64%;
}

#three {
    width: 42%;
}

.calcButton {
    width: 20%;
    padding: 5px 10px;
    margin: 5px auto;
}