header {
    background-color: green;
    border-bottom: 2px solid lightgreen;
}

main {
    background-color: lightgreen;
    height: 100vh;
}

.calculator {
    border: 2px solid black;  
}

.buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 8px;
     
}